:host {
  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  color: var(--gray900);
  fill: var(--gray900);
  font-family: var(--font-family-sans);
}

:host,
*,
::before,
::after {
  box-sizing: border-box;
}

*:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: var(--gray900);
  cursor: pointer;
  text-decoration: none;
}

button {
  all: unset;
  cursor: pointer;
}

nav {
  display: flex;
  width: 100%;
  align-items: center;
  padding-left: var(--grid-margin);
  gap: 8px;
}

nav::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: var(--shadow-1);
  content: '';
  pointer-events: none;
}

z-logo {
  margin: 8px 0;
}

.mobile-menu {
  position: absolute;
  top: 100%;
  left: 0;
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 16px var(--grid-margin) 32px;
  background-color: #fff;
  box-shadow: var(--shadow-2);
  gap: 8px;
}

.mobile-menu li {
  width: 100%;
}

.mobile-menu .items-container {
  display: flex;
  min-height: 256px;
  flex-direction: column;
  gap: 8px;
}

.mobile-menu .items-container z-ghost-loading {
  width: 40%;
  height: 1.2rem;
}

.mobile-menu .items-container .menubar-item {
  display: block;
  width: 100%;
  padding: 8px 0;
  font-size: 1rem;
  text-align: left;
}

.mobile-menu .items-container li:not(:last-child) .menubar-item {
  border-bottom: 1px solid #000;
}

[role='menuitem'].parent {
  display: flex;
  width: fit-content;
  align-items: center;
  padding: 0;
  border: none;
  font-size: 0.875rem;
  gap: 8px;
}

zanit-search-form {
  margin-left: auto;
}
