:host {
  --zanit-menubar-bg-color: ;
  --zanit-menubar-fg-color: ;
  --zanit-menubarbar-secondary-color: ;
  --zanit-menubarbar-max-width: ;

  position: relative;
  z-index: 2;
  display: block;
  width: 100%;
  max-width: var(--zanit-menubarbar-max-width, 1366px);
  background-color: var(--zanit-menubar-bg-color, #fff);
  color: var(--zanit-menubar-fg-color, var(--gray900));
  font-family: var(--font-family-sans);
  overflow-x: clip;
}

:host,
*,
::before,
::after {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

a {
  color: var(--zanit-menubar-fg-color, var(--gray900));
  cursor: pointer;
  text-decoration: none;
}

nav > ul {
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 var(--grid-margin);
  gap: 41px; /* 1px is for the separator */
}

nav > ul::after {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  box-shadow: 0 3px 2px -2px var(--shadow-color-base);
  content: '';
  pointer-events: none;
}

.menubar > ul {
  z-index: 2;
}

.menubar > ul > li {
  position: relative;
}

/* separator bar */
.menubar > ul > li:not(:last-child)::after {
  position: absolute;
  top: 50%;
  right: -21px;
  width: 1px;
  height: 1.25rem;
  background-color: #000;
  content: '';
  transform: translateY(-50%);
}

a.menubar-item {
  position: relative;
  display: flex;
  align-items: center;
  padding: 14px 0;
  gap: 8px;
}

.menubar > ul a.menubar-item {
  text-transform: uppercase;
}

a[role='menuitem']:focus:focus-visible {
  box-shadow: var(--shadow-focus-primary);
  outline: none;
}

.menubar > ul a.menubar-item [data-text] {
  display: flex;
  flex-direction: column;
}

.menubar > ul a.menubar-item.active > [data-text],
.menubar > ul a.menubar-item:hover > [data-text],
.menubar > ul a.menubar-item:focus:focus-visible > [data-text] {
  font-weight: var(--font-bd);
}

/* To avoid size changes in the element, when it is hovered and becomes bold,
we put the same text already bold with height 0, so as to always occupy the maximum necessary width. */
.menubar > ul a.menubar-item > [data-text]::after {
  height: 0;
  content: attr(data-text) / '';
  font-weight: var(--font-bd);
  letter-spacing: normal;
  pointer-events: none;
  user-select: none;
  visibility: hidden;
}

.sub-menubar {
  z-index: 1;
}

.sub-menubar:not(.visible) {
  display: none;
}

.menubar .sub-menubar > ul {
  gap: 28px;
}

.sub-menubar .menubar-item.active::after {
  position: absolute;
  z-index: -1;
  bottom: 0;
  left: -4px;
  width: calc(100% + 8px); /* the border is 4px per side larger than its container */
  height: 4px;
  background-color: var(--red500);
  content: '';
}
