@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
@import url('./style/typography.css');

:root {
  --grid-mobile-margin: 16px;
  --grid-tablet-margin: 24px;
  --grid-desktop-margin: 24px;
  --grid-wide-margin: 32px;
  --grid-margin: var(--grid-mobile-margin);
  --zanit-color-secondary: #e4011c;
	--zanit-color-accent: #ffe74c;
}

.zanit-link {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: var(--color-secondary);
}

@media (width >= 768px) and (width <= 1151px) {
  :root {
    --grid-margin: var(--grid-tablet-margin);
  }
}

@media (width >= 1152px) and (width <= 1365px) {
  :root {
    --grid-margin: var(--grid-desktop-margin);
  }
}

@media (width >= 1366px) {
  :root {
    --grid-margin: var(--grid-wide-margin);
  }
}
